body {
    background-color: gray;
}

.board {
    display: flex;
    flex-direction: column;
    width: 450px;
    border-collapse: collapse;
}

.row {
    display: flex;
}

.cell {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-size: 60px;
}
